.legal-hero {
  padding-bottom: 55px;

  @include for-size('tablet') {
    padding-bottom: 60px;
  }

  &__wrapper {
    position: relative;
    padding: 8px 24px 60px;

    @include for-size('tablet') {
      border-top: 0 none;
      display: grid;
      grid-column-gap: 15px;
      grid-template-columns: repeat(8, 1fr);
      padding: 0 52px 60px;
    }

    @include for-size('tablet-lg') {
      grid-template-columns: repeat(12, 1fr);
      padding: 0 40px 100px;
    }

    @include for-size('desktop') {
      padding: 10px 60px 90px;
    }

    &:before {
      position: absolute;
      top: 0;
      content: '';
      display: block;
      width: calc(100% - 48px);
      height: 1px;
      background: #fff3;

      @include for-size('tablet') {
        display: none;
      }
    }
  }

  &__who {
    @include for-size('tablet') {
      border-top: 1px solid #fff3;
      grid-column: 1 / 3;
      padding-top: 5px;
      position: relative;
    }

    @include for-size('tablet-lg') {
      grid-column: 1 / 5;
    }

    p {
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;

      @include for-size('tablet') {
        font-size: 12px;
        line-height: 15px;
        width: 10ch;
      }

      @include for-size('tablet-lg') {
        width: 100%;
      }
    }
  }

  &__title {
    padding: 40px 0 0;

    @include for-size('tablet') {
      grid-column: 3 / 9;
      padding: 0;
    }

    @include for-size('tablet-lg') {
      grid-column: 5 / 13;
    }

    h1 {
      margin: 0;

      p {
        margin: 0;
        display: block;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: -3px;
        line-height: 52px;
        text-transform: uppercase;

        @include for-size('tablet') {
          font-size: 60px;
          line-height: 62px;
        }

        @include for-size('tablet-lg') {
          font-size: 70px;
          line-height: 72px;
        }

        @include for-size('desktop') {
          font-size: 80px;
          line-height: 82px;
        }
      }

      p + p {
        padding-left: 50px;

        @include for-size('tablet') {
          padding-left: 60px;
        }

        @include for-size('tablet-lg') {
          padding-left: 70px;
        }
      }
    }
  }

  &__description {
    padding: 0 24px;

    @include for-size('tablet') {
      padding: 0 52px;
    }

    @include for-size('tablet-lg') {
      display: grid;
      grid-column-gap: 15px;
      grid-template-columns: repeat(12, 1fr);
      padding: 0 40px;
    }

    @include for-size('desktop') {
      padding: 0 60px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      margin: 0;

      @include for-size('tablet') {
        font-size: 18px;
        line-height: 26px;
      }

      @include for-size('tablet-lg') {
        font-size: 22px;
        line-height: 30px;
        grid-column: 2 / 12;
      }

      @include for-size('desktop') {
        grid-column: 3 / 11;
      }
    }

    p + p {
      padding-top: 20px;

      @include for-size('tablet-lg') {
        padding-top: 25px;
      }
    }

    &--large {
      p {
        @include for-size('tablet-lg') {
          grid-column: 1 / 13;
        }

        @include for-size('desktop') {
          grid-column: 2 / 12;
        }
      }
    }
  }
}
