.text {
  padding: 0 24px;

  @include for-size('tablet') {
    padding: 0 52px;
  }

  @include for-size('tablet-lg') {
    padding: 0 40px;
  }

  &__wrapper {
    padding: 0 0 90px;

    @include for-size('tablet') {
      display: grid;
      grid-column-gap: 15px;
      grid-template-columns: repeat(8, 1fr);
    }

    @include for-size('tablet-lg') {
      grid-template-columns: repeat(12, 1fr);
      padding: 0 0 100px;
    }

    &-title {
      @include for-size('tablet') {
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: repeat(7, 1fr);
        grid-column: 2 / 9;
      }

      @include for-size('tablet-lg') {
        grid-column: 2 / 12;
        grid-template-columns: repeat(10, 1fr);
      }

      p {
        font-size: 50px;
        font-weight: 400;
        line-height: 52px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: -3px;

        @include for-size('tablet') {
          font-size: 60px;
          line-height: 62px;
          grid-column: 1 / 8;
        }

        @include for-size('tablet-lg') {
          grid-column: 1 / 11;
          font-size: 70px;
          line-height: 72px;
        }

        @include for-size('desktop') {
          font-size: 80px;
          line-height: 82px;
        }
      }

      p + p {
        margin-left: 35px;

        @include for-size('tablet') {
          margin-left: 0;
          grid-column: 2 / 8;
        }

        @include for-size('tablet-lg') {
          grid-column: 2 / 11;
        }
      }
    }

    &-description {
      padding: 44px 0 0;

      @include for-size('tablet') {
        grid-column: 3 / 9;
      }

      @include for-size('tablet-lg') {
        grid-column: 3 / 12;
        padding-top: 80px;
      }

      @include for-size('desktop') {
        grid-column: 3 / 11;
        padding-top: 50px;
      }

      p {
        font-size: 15px;
        line-height: 22px;
        margin: 0;

        @include for-size('tablet') {
          font-size: 18px;
          line-height: 26px;
        }

        @include for-size('tablet-lg') {
          font-size: 20px;
          line-height: 29px;
        }

        @include for-size('desktop') {
          font-size: 22px;
          line-height: 30px;
        }
      }

      p + p {
        padding-top: 20px;

        @include for-size('tablet') {
          padding-top: 30px;
        }
      }
    }
  }
}