.careers {
  padding: 40px 24px 100px;

  @include for-size('tablet') {
    padding: 25px 52px 130px;
  }

  @include for-size('tablet-lg') {
    padding: 20px 40px 130px;
  }

  @include for-size('desktop') {
    padding: 40px 60px 150px;
  }

  &__wrapper {
    @include for-size('tablet-lg') {
      display: grid;
      grid-column-gap: 15px;
      grid-template-columns: repeat(12, 1fr);
    }

    &-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 52px;
      margin: 0;
      text-transform: uppercase;

      @include for-size('tablet') {
        font-size: 60px;
        line-height: 62px;
      }

      @include for-size('tablet-lg') {
        font-size: 70px;
        grid-column: 1 / 13;
        line-height: 72px;
      }

      @include for-size('desktop') {
        font-size: 80px;
        grid-column: 2 / 13;
        line-height: 82px;
      }
    }

    &-description {
      padding: 35px 0 0;

      @include for-size('tablet') {
        padding: 40px 0 0;
      }

      @include for-size('tablet-lg') {
        grid-column: 2 / 12;
        padding: 55px 0 0;
      }

      @include for-size('desktop') {
        grid-column: 3 / 11;
        padding: 50px 0 0;
      }

      p {
        font-size: 15px;
        letter-spacing: -1px;
        line-height: 22px;
        margin: 0;

        @include for-size('tablet') {
          font-size: 18px;
          line-height: 26px;
        }

        @include for-size('desktop') {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }

    &-offices {
      padding: 50px 0 0;

      @include for-size('tablet') {
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        padding: 55px 0 0;
      }

      @include for-size('tablet-lg') {
        grid-column: 2 / 13;
        padding: 50px 0 0;
      }

      @include for-size('desktop') {
        grid-column: 3 / 11;
        padding: 70px 0 0;
      }

      &-item {
        padding: 0 0 35px;

        &:last-of-type {
          padding: 0;
        }

        h3 {
          border-radius: 4px;
          border: 1px solid #fff;
          display: inline-block;
          font-size: 16px;
          font-weight: 400;
          margin: 0;
          padding: 2px 6px 3px;
        }

        p {
          font-size: 14px;
          line-height: 16px;
          margin: 0;
          padding: 10px 0 0;

          @include for-size('desktop') {
            padding: 15px 0 0;
          }

          a {
            color: #fff;
          }
        }
      }
    }
  }
}
