.main {
  min-height: calc(100vh - 204px);
  padding-top: 70px;

  @include for-size('tablet') {
    min-height: auto;
    padding-top: 178px;
  }

  @include for-size('desktop') {
    min-height: calc(100vh - 191px);
    padding-top: 130px;
  }
}
