.filter {
    position: relative;
    align-items: center;
    display: flex;
    
    .select, .label {
        color: white;
        font-size: 12px;
        height: 21px;
        letter-spacing: 0.0012em;
        line-height: 14px;
        text-transform: uppercase;
    }

    .label {
        display: flex;
    }

    .select {
        appearance: none;
        background: transparent;
        border: unset;
        margin-right: 0;
        padding-right: 29px;
        text-align-last: right;
        width: auto;

        &:focus {
            outline: 0 none;
        }
    }
}

/* Page filter markup position */
.work-filter {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;

    @include for-size('tablet') {
        padding: 5px 50px 20px;
    }
}
