.filter {
    position: relative;
    align-items: center;
    display: flex;
    
    .select, .label {
        color: white;
        font-size: 12px;
        height: 21px;
        letter-spacing: 0.0012em;
        line-height: 14px;
        text-transform: uppercase;
    }

    .label {
        display: flex;
    }

    .select {
        appearance: none;
        background: transparent;
        border: unset;
        margin-right: 0;
        padding-right: 29px;
        text-align-last: right;
        width: auto;

        &:focus {
            outline: 0 none;
        }
    }

    .options-desktop {
        background-color: black;
        list-style: none;
        padding-top: 5px;
        position: absolute;
        right: 0;
        top: -1px;
        z-index: 100;

        li {
            color: $white;
            cursor: pointer;
            cursor: pointer;
            font-size: 12px;
            margin-bottom: 5px;
            opacity: 0.5;
            text-align: right;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            width: 200px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

/* Page filter markup position */
.work-filter {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;

    @include for-size('tablet') {
        padding: 5px 50px 20px;
    }
}
