.works-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100%;

  @include for-size('tablet') {
    grid-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 290px;
  }

  @include for-size('tablet-lg') {
    grid-template-rows: 390px;
  }

  @include for-size('desktop') {
    grid-template-rows: 520px;
  }

  &-article {
    cursor: pointer;
    position: relative;

    @include for-size('tablet') {
      height: 290px;
      overflow: hidden;
    }

    @include for-size('tablet-lg') {
      height: 390px;
    }

    @include for-size('desktop') {
      height: 520px;
    }

    &--1 {
      @include for-size('tablet') {
        grid-column: 1 / 6;
      }

      @include for-size('tablet') {
        position: relative;
      }

      img {
        width: 100%;

        @include for-size('tablet') {
          height: 120%;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: auto;
        }
      }
    }

    &--2 {
      @include for-size('tablet') {
        grid-column: 6 / 13;
      }

      img {
        width: 100%;

        @include for-size('tablet') {
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 120%;
        }
      }
    }

    &--3 {
      @include for-size('tablet') {
        grid-column: 1 / 8;
      }

      img {
        width: 100%;

        @include for-size('tablet') {
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 120%;
        }
      }
    }

    &--4 {
      @include for-size('tablet') {
        grid-column: 8 / 13;
      }

      @include for-size('tablet') {
        position: relative;
      }

      img {
        width: 100%;

        @include for-size('tablet') {
          height: 120%;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: auto;
        }
      }
    }

    a {
      display: block;
      cursor: pointer;
    }

    &-image {
      img {
        width: 100%;

        @include for-size('tablet') {
          object-fit: cover;
        }

        @include for-size('desktop') {
          width: 100%;
        }
      }
    }

    &-lg {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      img {
        max-width: 220px;
      }
    }
  }
}
